---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import ascii from "../images/tacit-ascii.png";
import AsciiImage from "../components/AsciiImage.astro";
---

<Layout title="Tacit Labs">
    <main
        class="p-gutter gap-gutter grid grid-cols-16 h-screen max-h-dvh relative overflow-hidden"
    >
        <div
            class="col-span-12 min-[700px]:col-span-7 min-[1512px]:col-span-5 flex flex-col grow justify-end"
        >
            <h1
                class="font-display text-[18px] tracking-normal leading-normal pb-1"
            >
                Tacit Labs
            </h1>
            <p
                class="font-mono font-light text-sm tracking-[-2%] leading-normal"
            >
                Tacit enables frontier labs to develop LLM capabilities for the
                life sciences by collecting high quality data on how science is
                done.<br /><br />

                We imagine a future in which AI is a powerful tool for
                scientific discovery, capable of helping us reason through
                complex problems and driving optimal decision-making across
                discovery and development pipelines.<br /><br />

                Collaborating with biotechs and academic labs, we evaluate
                models on high-value, real-world tasks and works with frontier
                AI labs to systematically improve model performance on those
                tasks. Data collection will focus on outcome-verifiable,
                long-horizon planning and reasoning tasks to power the most
                critical functions in the life sciences.
            </p>
        </div>
        <AsciiImage
            src="src/images/tacit-vector.png"
            cols={150}
            radius={40}
            class="absolute translate-x-[40%] opacity-20 right-0 min-h-dvh"
        />
    </main>
</Layout>
